


  <div class="thumbnail">
    <%= image_tag(@artist.image, size: "500x500") %>
    <div class="caption">
      <h2><%= @artist.name %></h2>
      <h2>Bio:</h2>
      <h3><%=@artist.description%></h3>
      <br>
      <br>
      <h2>List of songs:</h2>
      <% songs = @artist.songs.sort_by { |song| song.year } %>
      <%= render songs %>
    </div>
  </div>

<% if current_user %>
<%= link_to "New Song", new_song_path( artist_id: @artist.id ), class: "btn btn-default", style: "float: right" %></h2>
<%end%>
