
<h1>Name: <%= @song.artist.name%></h1>
<h2>Title: <%= @song.title%></h2>
<h3>Year: <%= @song.year%></h3>
<h3>Album: <%=@song.album%></h3>

<% if current_user %>
<%= link_to "delete", [@artist, @artist.songs.build], method: :delete, data: { confirm: 'Are you sure?' }%>
<%end%>
